.container
{
    padding: 1em;
    position: absolute;
    top: 54%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border:2px solid #31ae84;
    box-shadow: 0 4px 8px 0 rgba(49, 174, 132, 0.2), 0 6px 20px 0 rgba(49, 174, 132, 0.35);



    max-width: 1000px;
    width: 100%;
   
    margin:0 auto;
  
    display: block;
        transition: .7s;
        height: 0px;
        overflow: hidden;
    
    
}
.header{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 35px;
  font-weight: bold;
}
.blance{
  line-height: 10px;
  margin-top: 30px;
}
hr{
  color: #31ae84;
  border:1px solid #31ae84;
}
.blanceamount
{
  font-size: 60px;
  text-align: center;
}
.IncomeAndExpanse
{
  display:inline-block;
}
.inc-exp-container > div {
  flex: 1;
  text-align: center;
}
.inc-exp-container {
  box-shadow: var(--box-shadow);
  padding-left: 20px;
  padding-right: 20px;
  
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border:  2px solid #31ae84;
}
.inc-exp-container > div:first-of-type {
  border-right: 2px dotted #31ae84;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.plus {
  color: #31ae84;
}

.minus {
  color: #df4577;
}
.income
{
  margin-right: 10px;
}
.expanse{
  margin-left: 10px;
}
.dollar{
  font-size: 40px;
  line-height: 10px;
}
.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #31ae84;
  box-shadow: var(--box-shadow);
  color: #232937;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
  font-size: 20px;
}

.list li.plus {
  border-right: 10px solid #31ae84;
}

.list li.minus {
  border-right: 10px solid #df4577;
}
.HEADER{
  text-align: center;
}

.delete-btn {
  cursor: pointer;
  background-color: #df4577;
  border: 0;
  color: #232937;
  font-size: 30px;
  line-height: 20px;
  padding: 2px 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.list li:hover .delete-btn {
  opacity: 1;
}
label {
  display: inline-block;
  margin: 10px 0;
}
textarea:focus, input:focus{
  outline: none;
}
input[type='text'],
input[type='number'] {
  border-bottom: 3px solid #31ae84;
  border-top: none;
  border-left: none;
  border-right: none;
  display: block;
  font-size: 16px;
  background-color: #232937;
  color: #31ae84;
  font-size: 22px;
  width: 100%;
  outline: none;
  margin-bottom: 20px;
}

.btn {
  cursor: pointer;
  
  border: 2px solid #31ae84;
  color: #31ae84;
background-color: #232937;
  border-radius: 40px;
  display: block;
  font-size: 25px;
  margin: 10px 0 30px;
  padding: 14px;
  width: 100%;
}
.btn:hover{
  color: #232937;
  background-color: #31ae84;
  }

.btn:focus,
.delete-btn:focus {
  outline: 0;
}










